<h1>Name: Kijung Kim </h1>

<!--<h1 class = 'my-class' id = 'my-id'>This is yet another title</hl>
-->
<img src="/assets/me.jpg" style="max-height: 400px; max-width: 100px;" class = "rotate90">

<h1 class = 'from'>Palos Verdes, CA (SoCAl)</h1>
<h1>Year: Sophomore </h1>

<h1 class = 'fun_fact'>I have Hamlet's "To be or Not to be" speech memorized</h1>

<h1 class = 'excited'>I'm excited to be able to make ugly websites with great back-end structure! </h1>
